body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

h1 {
    font-size: 60px;
}

h3 {
    font-size: 30px;
}