/* A.M.D.G. */
* {
  box-sizing: border-box;
  /* If we add padding to an element, it doesn't affect the width of it */
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center; /* Horizontal spacing */
  justify-content: center; /* Vertical spacing */
  height: 100vh; /*vh == viewport height (percentage of)*/
  overflow: hidden; /*Hide scrollbar by default*/
  margin: 0;
  background-color: #f3f3f3
}

.container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

h1 {
    font-size: 40px;
}

h3 {
    font-size: 20px;
}

.settings {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin-bottom: 20px;
}

.number-box {
    width: 40px;
}

#save {
    font-size: 16px;
    padding: 5px;
}

#save:hover {
    cursor: pointer;
}

/* 
Styling for toggle switch:
------------------------------------------------

Code credit: https://www.w3schools.com/howto/howto_css_switch.asp
*/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  transform: translateX(-50%);
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}