* {
  box-sizing: border-box;
  /* If we add padding to an element, it doesn't affect the width of it */
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center; /* Horizontal spacing */
  justify-content: center; /* Vertical spacing */
  height: 100vh; /*vh == viewport height (percentage of)*/
  overflow: hidden; /*Hide scrollbar by default*/
  margin: 0;
  background-color: #f3f3f3
}

.container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

h1 {
    font-size: 40px;
}

h3 {
    font-size: 20px;
}

.settings {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin-bottom: 20px;
}

.number-box {
    width: 40px;
}

#save {
    font-size: 16px;
    padding: 5px;
}

#save:hover {
    cursor: pointer;
}